.idea
.project
.pydevproject
.vscode
.vs
.pytest_assist
.pytest_cache
*.py[cod]
*.bak
*.log*
*.sqlite3
workspace.xml
node_modules/
__pycache__/

pytest_assist.egg-info/
build/
dist/
cases/
libs/


/tmp*.py